<!DOCTYPE html>
<html>

<head>
    <!-- note load statis is needed -->
    {% load static %}
    <title>Book</title>
    <style>
        .element {
            position: absolute;
            width: 50%;
            height: 50%;
            /* note how url is used to access static folder */
            background-image: url("{% static 'book_app/images/1.jpg' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<!-- note the directory structure - templates/appName/htmlFile -->
<body>
    <!-- note how url are accessed -->
     <!-- note that their path is needed to put in urlpatterns -->
    <a href="{% url 'meta' %}">MetaData</a><br>
    <a href="{% url 'review' %}">Reviews</a><br>
    <a href="{% url 'pubinfo' %}">Publisher Info</a><br>
    <div class="element"></div>
</body>

</html>
