<!DOCTYPE html>
<html>

<head>
    <title>MetaData</title>
</head>

<body>
    <a href="{% url 'meta' %}">MetaData</a><br>
    <a href="{% url 'review' %}">Reviews</a><br>
    <a href="{% url 'pubinfo' %}">Publisher Info</a><br>
    <p>
        "Naruto" is a popular Japanese manga and anime series created by Masashi Kishimoto, with metadata available in
        various formats, including official character data books, online databases, and fan communities.
        Here's a breakdown of metadata related to "Naruto":
        Official Character Data Book:
        Title: Naruto: The Official Character Data Book
        Author: Masashi Kishimoto
        Publisher: VIZ Media LLC
        Content: The book covers the manga up to volume 43, including never-before-revealed data, secrets, scandals, a
        new
        manga tale, and information on characters.
        Pages: 360
        ISBN: 9781421541259
        Distribution: Simon & Schuster
        Chapter of Ninja: Includes new profiles for over 130 characters
        Chapter of Jutsu: Delves into a total of 115 jutsu
        Chapter of Origins: Includes a new five-page manga by Masashi Kishimoto and never-before-seen character art
    </p>
</body>

</html>