<!DOCTYPE html>
<html>

<head>
    <title>Publisher information</title>
</head>

<body>
    <a href="{% url 'meta' %}">MetaData</a><br>
    <a href="{% url 'review' %}">Reviews</a><br>
    <a href="{% url 'pubinfo' %}">Publisher Info</a><br>
    <p>
        The Naruto manga was originally published in Shueisha's Weekly Shōnen Jump magazine, and Viz Media licensed the
        manga and anime for North American production and publication.
        Here's a more detailed breakdown:
        Original Publication:
        The Naruto manga, written and illustrated by Masashi Kishimoto, was serialized in Shueisha's Weekly Shōnen Jump
        magazine from September 1999 to November 2014. </p>
</body>

</html>